
option_settings:
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_project.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  
  
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: "django_project.settings"
  
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static


container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true


files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_set_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      
      chown -R webapp:webapp /opt/python/current/app